<h1>Teilnehmende Künstler</h1>

<%= link_to 'Ich bin Künstler!', new_artist_profile_path %>

<table>
  <tr>
    <th>Name</th>
		<th></th>
  </tr>

<% @artist_profiles.each do |artist_profile| %>
  <tr>
    <td><%= link_to artist_profile.user.name, artist_profile %></td>
  </tr>
	<% if can? :delete,  artist_profile then %>
		<td><%= link_to 'Löschen', artist_profile, method: :delete, data: { confirm: 'Sicher?' } %></td>
	<% end %>
<% end %>
</table>

<br />

