<p id="notice"><%= notice %></p>

<p>
  <b>Vita:</b>
  <%= @artist_profile.vita %>
</p>


<%= link_to 'Edit', edit_artist_profile_path(@artist_profile) %> |
<%= link_to 'Back', artist_profiles_path %>
