
%p#notice= notice
%p
  - if can? :edit, artist_profile
    = link_to 'Bearbeiten', edit_artist_profile_path, class: 'button small'
  %p
  %b Vita:
  %p
    = artist_profile.vita
= link_to 'Zurück zur Übersicht', artist_profiles_path, class: 'button small'
