<h1>Werke</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
  </tr>

<% @paintings.each do |painting| %>
  <tr>
    <td><%= link_to painting.name, painting %></td>
		<% if can? :edit, painting then %>
    	<td><%= link_to 'Bearbeiten', edit_painting_path(painting) %></td>
		<% end %>
		<% if can? :delete, painting then %>
   	 <td><%= link_to 'Löschen', painting, method: :delete, data: { confirm: 'Sicher?' } %></td>
		<% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Neues Kunstwerk eintragen', new_painting_path %>
