<h1>Tags</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
  </tr>

<% @tags.each do |tag| %>
  <tr>
    <td><%= link_to tag.name, tag %></td>
		<% if can? :edit, tag then %>
    <td><%= link_to 'Bearbeiten', edit_tag_path(tag) %></td>
		<% end %>
		<% if can? :delete, tag then %>
    <td><%= link_to 'Löschen', tag, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		<% end%>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Neuer Tag', new_tag_path %>
