/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 //= require foundation_and_overrides
 *= require foundation_and_overrides
 *= require foundicons
 *= require fancybox
 *= require_tree .
*/
@import "compass/css3/transition";
@import "compass/css3/filter";
@import "foundation_and_overrides";

.content {
  background-color: #eee;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
  box-shadow: 0 1px 2px rgba(0,0,0,.15);
}
.top-bar-section ul li > a {
  &:hover {
    color:#2BA6CB;
  }
}
.title-area .name img {
  width: 130px;

  &:hover {
    @include filter(brightness(50%));
  }
}

ul {
  list-style: none;
}


/* FOOTER */
$footer-height: 20px;

html, body, #wrap {height: 100%;}

body > #wrap {
    height: auto;
    min-height: 100%;
}

#main {
  padding-top: $topbar-height;
	padding-bottom: $footer-height + 10;
}  /* Muss genau so hoch sein wie der Footer */

footer {
    position: relative;
	margin-top: -$footer-height; /* Negativer Wert der Footer-Höhe */
	height: $footer-height;
	clear:both;
	text-align:center;
	font-size: 12px;
}

.clearfix:after {
    content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.clearfix {display: inline-block;}

/* Bereich nicht für IE-mac Anfang \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* Bereich nicht für IE-mac Ende */