@import "compass/css3/transition";
@import "foundation_and_overrides";


#gallery {
  margin-top: 20px;
  li {
    position: relative;
    img {
      border: 2px solid #888;
    }
  }
  .overlay {
    position: absolute;
    top: 0px;
    left: 10px;
    width: 92%;
    height: 96%;
    opacity: 0;
    padding: 10px;

    &:hover {
      opacity: 1;
      background-color: rgba(34, 34, 34, 0.75);
      @include transition-property(opacity);
      @include transition-duration(0.5s);
      border: 2px solid $primary-color;
    }
  }
}