#landing-page {
  .landinpage {
    background-size: cover;
  }

  #schlagworte {
    position: absolute;
    top: 0;
    top: 150px;
    right: 0px;
    ul {
      list-style: none;
    }
    li {
      background: rgba(34, 34, 34, 0.75);
      color: white;
      h4, h5 {
        color: #ddd;
        display: inline-block;
      }
      h5 {
        padding: 0;
        margin: 0;
        padding-top: 8px;
      }
      margin: 5px;
      padding: 5px 20px 5px 20px;

      &.btn {
        height: 47px;
      }
      &.no-bg {
        background: none;
      }
    }
  }

  .divider {
    width: 100%;
    height: 45px;
    background: #111;
    margin-top: -2px;
  }
  .imgleft {
    float: left;
    width: 50%;
    margin-top: -90px;
    border: 10px solid white;    
  }
  .imgright {
    float: right;
    width: 50%;
    margin-top: -90px;
    border: 10px solid white;
  }
  .half {
    float: left;
    width: 50%;
    padding-top: 25px;
    padding-left: 15px;
    padding-right: 15px;
  }
 
}